[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-login = "*"
python-dotenv = "*"
flask-mysql-connector = "*"
werkzeug = "*"
requests = "*"
cloudinary = "*"
flask-mail = "*"
cryptography = "*"
flask-paginate = "*"
flask-ext = "*"
flask-mysql = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
