body {
    background-color: #FFFDF2;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #FFFDF2;
    position: relative;
    height: 100px;
}

.logo {
    position: absolute;
}

.logo img {
    position: absolute;
}

.logo1 {
    right: 210px;
    top: 52px;
}

.logo2 {
    right: 270px;
    top: 49px;
}

.logo3 {
    right: 330px;
    top: 56px;
}

.logo4 {
    left: 70px;
    top: 50px;
}

.logo a {
    text-decoration: none;
}



/* Custom class for the quantity container */
.quantity-container {
    display: flex;
    align-items: center;
}

/* Adjust the spacing between label and input */
.quantity-container label {
    margin-right: 10px;
    margin-top: 10px; /* Adjust the margin as needed */
}
/* Custom class for the small input */
.small-input {
    width: 70px; 
    height: 30px; /* Adjust the width as needed */
}