<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Product Detail</title>
	</head>
	<body>
		<div>{% include 'partials/navbar.html' %}</div>
		<ol class="breadcrumb-nav">
			<li>
				<a href="{{ url_for('home.user_books', user_id=user_id) }}">My Books</a>
			</li>
			<li>Add Book</li>
		</ol>
		<form
			action="{{ url_for('home.add_book', user_id=user_id) }}"
			method="post"
			class="product-container-add"
		>
			<div class="product-image-container-add">
				<div class="product-image-container-inner-add">
					<img
						class="product-image-add"
						src="https://via.placeholder.com/250x373"
					/>
					<div>Add photo</div>
				</div>
			</div>
			<div class="product-detail-add">
				<h2 class="product-add-heading">Add Book</h2>
				<label for="book_title">Title:</label>
				<input
					type="text"
					id="book_title"
					name="book_title"
					class="book-add-entry"
					placeholder="Type Here..."
					required
				/><br />
				<div class="book-detail-side-by-side">
					<div class="book-detail-side-by-side-inner">
						<label for="book_isbn">ISBN Number:</label>
						<input
							type="text"
							id="book_isbn"
							name="book_isbn"
							class="book-add-entry"
							placeholder="Type Here..."
							required
						/><br />
					</div>
					<div class="book-detail-side-by-side-inner">
						<label for="book_author">Author:</label>
						<input
							type="text"
							id="book_author"
							name="book_author"
							class="book-add-entry"
							placeholder="Type Here..."
							required
						/><br />
					</div>
				</div>
				<div class="book-detail-side-by-side">
					<div class="book-detail-side-by-side-inner">
						<label for="collegeCourse">Genre:</label>
						<select
							class="book-add-entry"
							id="book_genre"
							name="book_genre"
						>
							<option
								value=""
								disabled
								selected
							>
								--Select Genre--
							</option>
							{% for genre in genres %}
							<option value="{{ genre.genre_id }}">
								{{ genre.genre_name }}
							</option>
							{% endfor %}
						</select>
					</div>
					<div class="book-detail-side-by-side-inner">
						<label for="book_sell_price">Sell Price:</label>
						<input
							type="text"
							id="book_sell_price"
							name="book_sell_price"
							class="book-add-entry"
							placeholder="Type Here..."
							required
						/><br />
					</div>
					<div class="book-detail-side-by-side-inner">
						<label for="book_rent_price">Rent Price:</label>
						<input
							type="text"
							id="book_rent_price"
							name="book_rent_price"
							class="book-add-entry"
							placeholder="Type Here..."
							required
						/><br />
					</div>
				</div>
				<button
					type="submit"
					class="btn-primary-library"
				>
					Add Book
				</button>
			</div>
		</form>
	</body>
</html>
