{% extends 'master_layout.html' %} {% block title %}Bookster{% endblock %} {%
	block content %}
	<link
	rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename='css/buyreq.css') }}"
/>
	<div>{% include 'partials/navbar.html' %}</div>
	<body>
		
		<form
			method="post"
			action="{{ url_for('home.book_buy', user_id=user_id, book_id=matching_book.book_id) }}"
		>
			
			{% if matching_book %}
			<div
				class="order-container"
				style="margin-top: 100px"
			>

				<div class="order-box">
					<table class="order-details-table">
						<thead>
							<tr>
								<th></th>
								<th>Item</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Item Subtotal</th>
							</tr>
						</thead>
						<tbody>
							<!-- Add your order details rows here -->

							<tr>
								<td>
									<img
										src="{{ book_detail.cloudinary_url or 'https://res.cloudinary.com/dclxaugvd/image/upload/v1702621916/bookster/COVER_BOOK_1_zdzcec.png' }}"
										alt="Product Image"
										style="width: 87px; height: 115px; object-fit: cover"
									/>
								</td>

								<td>
									{% if matching_book.book_title|length > 30 %} {{
									matching_book.book_title[:30] }}... {% else %} {{
									matching_book.book_title }} {% endif %}
								</td>
								<td>₱{{ book_detail.selling_price }}</td>
								<td>
									<div>
										<input
											type="number"
											name="quantity"
											id="order_quantity"
											min="1"
											value="1"
											max="{{book_detail.quantity}}"
										/>
									</div>
								</td>
								<td id="totalPrice">₱{{ book_detail.selling_price }}</td>
							</tr>

							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td>
									Order total (<span id="orderQuantity">1</span> item{% if
									quantity != 1 %}s{% endif %})
								</td>
								<td id="orderTotal">₱{{ book_detail.selling_price }}</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>						
									<button
									type="submit"
									class="button btn btn-primary"
								>
									Place Order
								</button>
							</td>
						</tr>
							<!-- Add more rows as needed -->
						</tbody>
					</table>
				</div>

	
				</div>
			</div>
			{% endif %}
		</form>
		<script>
			// Function to update order total based on quantity
			function updateOrderTotal() {
				// Get the quantity value
				var quantity = parseInt(
					document.getElementById("order_quantity").value
				);

				// Get the price per item
				var pricePerItem = parseFloat(
					document.getElementById("totalPrice").innerText.replace("₱", "")
				);

				// Calculate the new order total
				var newOrderTotal = quantity * pricePerItem;

				// Update the order total in the HTML
				document.getElementById("orderTotal").innerText =
					"₱" + newOrderTotal.toFixed(2);

				// Update the order quantity in the HTML
				document.getElementById("orderQuantity").innerText = quantity;

				// Update the pluralization of 'item' based on quantity
				var pluralSuffix = quantity !== 1 ? "s" : "";
				document.getElementById("orderQuantityPlural").innerText = pluralSuffix;
			}

			// Attach the updateOrderTotal function to the input event of the quantity input field
			document
				.getElementById("order_quantity")
				.addEventListener("input", updateOrderTotal);

			// Initial call to updateOrderTotal to set the initial values
			updateOrderTotal();
		</script>
{% endblock %}
