<div style="width: 100%; height: 100%; position: relative; background: #FFFDF2">
    <div style="width: 640px; height: 73px; left: 400px; top: 799px; position: absolute">
        <div style="width: 640px; left: 0px; top: 0px; position: absolute; text-align: center; color: #3D3C3C; font-size: 36px; font-family: Unica One; font-weight: 400; word-wrap: break-word">Trending Now</div>
        <div style="left: 284px; top: 56px; position: absolute; text-align: center; color: #676767; font-size: 14px; font-family: Syne; font-weight: 400; word-wrap: break-word">Drag to explore</div>
        <div style="width: 16px; height: 16px; left: 259px; top: 53px; position: absolute">
            <div style="width: 13.11px; height: 13.11px; left: 0px; top: 2.89px; position: absolute; border: 1.50px #676767 solid"></div>
            <div style="width: 0px; height: 3.54px; left: 11.28px; top: 0px; position: absolute; border: 1.50px #676767 solid"></div>
            <div style="width: 3.54px; height: 0px; left: 9.51px; top: 1.77px; position: absolute; border: 1.50px #676767 solid"></div>
            <div style="width: 0px; height: 2.36px; left: 14.82px; top: 4.13px; position: absolute; border: 1.50px #676767 solid"></div>
            <div style="width: 2.36px; height: 0px; left: 13.64px; top: 5.31px; position: absolute; border: 1.50px #676767 solid"></div>
        </div>
    </div>
    <div style="width: 1305px; height: 538px; left: 65px; top: 155px; position: absolute">
        <div style="width: 526px; height: 538px; left: 779px; top: 0px; position: absolute">
            <div style="width: 483px; height: 503px; left: 0px; top: 0px; position: absolute; background: #3AB8EB; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
            <div style="width: 483.99px; height: 503.23px; left: 42.01px; top: 34.77px; position: absolute; background: #3AB8EB; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
        </div>
        <div style="width: 470px; left: 5px; top: 26px; position: absolute; color: #3D3C3C; font-size: 64px; font-family: Syne; font-weight: 500; word-wrap: break-word">Looking for specific Books?</div>
        <div style="left: 5px; top: 269px; position: absolute; color: #676767; font-size: 16px; font-family: Syne; font-weight: 500; word-wrap: break-word">Explore different genres to find your next read.</div>
        <div style="width: 586px; height: 57px; left: 0px; top: 315px; position: absolute">
            <div style="width: 586px; height: 57px; left: 0px; top: 0px; position: absolute">
                <div style="width: 580.52px; height: 46.04px; left: 5.48px; top: 10.96px; position: absolute; background: #FDBF0F; border-radius: 20px"></div>
                <div style="width: 580.52px; height: 46.04px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 20px; border: 2px #3D3C3C solid"></div>
            </div>
            <div style="left: 20px; top: 13px; position: absolute; color: #3D3C3C; font-size: 14px; font-family: Syne; font-weight: 400; word-wrap: break-word">Type the name of book or author...</div>
            <div style="width: 18px; height: 18px; left: 540px; top: 12px; position: absolute">
                <div style="width: 15.75px; height: 15.75px; left: 0px; top: 0px; position: absolute; border: 2px #3D3C3C solid"></div>
                <div style="width: 4.56px; height: 4.56px; left: 13.44px; top: 13.44px; position: absolute; border: 2px #3D3C3C solid"></div>
            </div>
        </div>
        <div style="width: 153px; height: 51px; left: 5px; top: 394px; position: absolute">
            <div style="width: 153px; height: 51px; left: 0px; top: 0px; position: absolute; background: #FDBF0F; border-radius: 10px; border: 2px #3D3C3C solid"></div>
            <div style="height: 19px; left: 27px; top: 16px; position: absolute">
                <div style="left: 0px; top: 0px; position: absolute; color: #3D3C3C; font-size: 16px; font-family: Syne; font-weight: 400; word-wrap: break-word">Explore</div>
                <div style="width: 24px; height: 18.46px; left: 74px; top: 0px; position: absolute">
                    <div style="width: 5.54px; height: 0px; left: 9.23px; top: 5.07px; position: absolute; border: 1.50px #3D3C3C solid"></div>
                    <div style="width: 8.95px; height: 13.84px; left: 14.77px; top: -0px; position: absolute; border: 1.50px #3D3C3C solid"></div>
                    <div style="width: 8.95px; height: 13.84px; left: 0.28px; top: -0px; position: absolute; border: 1.50px #3D3C3C solid"></div>
                    <div style="width: 9.23px; height: 9.23px; left: 0px; top: 9.23px; position: absolute; border: 1.50px #3D3C3C solid"></div>
                    <div style="width: 9.23px; height: 9.23px; left: 14.77px; top: 9.23px; position: absolute; border: 1.50px #3D3C3C solid"></div>
                </div>
            </div>
        </div>
        <div style="width: 399px; height: 0px; left: 182px; top: 415px; position: absolute; border: 2px #676767 dotted"></div>
        <img style="width: 141px; height: 141px; left: 252px; top: 110px; position: absolute" src="https://via.placeholder.com/141x141" />
    </div>
    <div style="width: 1300px; height: 595px; left: 70px; top: 901px; position: absolute; border-radius: 20px; border: 2px #3D3C3C dotted"></div>
    <div style="width: 201px; height: 298px; padding-right: 1px; left: 178px; top: 1050px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 200px; height: 298px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 200px; height: 298px; box-shadow: 10px 12px 10px -6px rgba(61, 60, 60, 0.36); border-radius: 10px" src="https://via.placeholder.com/200x298" />
        </div>
    </div>
    <div style="width: 201px; height: 298px; padding-right: 1px; left: 399px; top: 1050px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 200px; height: 298px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 200px; height: 298px; box-shadow: 10px 12px 10px -6px rgba(61, 60, 60, 0.36); border-radius: 10px" src="https://via.placeholder.com/200x298" />
        </div>
    </div>
    <div style="width: 201px; height: 298px; padding-right: 1px; left: 620px; top: 1050px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 200px; height: 298px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 200px; height: 298px; box-shadow: 10px 12px 10px -6px rgba(61, 60, 60, 0.36); border-radius: 10px" src="https://via.placeholder.com/200x298" />
        </div>
    </div>
    <div style="width: 201px; height: 298px; padding-right: 1px; left: 841px; top: 1050px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 200px; height: 298px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 200px; height: 298px; box-shadow: 10px 12px 10px -6px rgba(61, 60, 60, 0.36); border-radius: 10px" src="https://via.placeholder.com/200x298" />
        </div>
    </div>
    <div style="width: 201px; height: 298px; padding-right: 1px; left: 1062px; top: 1050px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 200px; height: 298px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 200px; height: 298px; box-shadow: 10px 12px 10px -6px rgba(61, 60, 60, 0.36); border-radius: 10px" src="https://via.placeholder.com/200x298" />
        </div>
    </div>
    <img style="width: 484px; height: 512px; left: 886px; top: 181px; position: absolute" src="https://via.placeholder.com/484x512" />
    <div style="padding-left: 20px; padding-right: 20px; padding-top: 8px; padding-bottom: 8px; left: 1237px; top: 52px; position: absolute; background: white; border-radius: 48px; border: 1px rgba(0, 0, 0, 0.50) solid; backdrop-filter: blur(36px); justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
        <div style="color: #0D0505; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">My Account</div>
    </div>
    <div style="width: 43px; height: 43px; left: 1180px; top: 49px; position: absolute">
        <div style="width: 34.39px; height: 34.40px; left: 4.30px; top: 4.30px; position: absolute; background: #3D3C3C"></div>
    </div>
    <div style="width: 35px; height: 33px; left: 1122px; top: 56px; position: absolute">
        <div style="width: 4.59px; height: 4.67px; left: 9.50px; top: 28.33px; position: absolute; background: #3D3C3C; border: 0.12px #3D3C3C solid"></div>
        <div style="width: 4.59px; height: 4.67px; left: 26.53px; top: 28.33px; position: absolute; background: #3D3C3C; border: 0.12px #3D3C3C solid"></div>
        <div style="width: 35px; height: 24px; left: 0px; top: 0px; position: absolute; border: 1.50px #3D3C3C solid"></div>
        <div style="width: 15.72px; height: 17.33px; left: 24.89px; top: -3.67px; position: absolute">
            <div style="width: 15.72px; height: 16px; left: 0px; top: 1.33px; position: absolute; background: #F9784B; border-radius: 9999px"></div>
            <div style="left: 6.55px; top: 0px; position: absolute; color: white; font-size: 10px; font-family: Syne; font-weight: 400; line-height: 16px; word-wrap: break-word">1</div>
        </div>
    </div>
    <div style="height: 92px; left: 70px; top: 78px; position: absolute">
        <div style="width: 210px; height: 0px; left: 0px; top: 47px; position: absolute; border: 2px #676767 dotted"></div>
        <div style="width: 210px; height: 47px; left: 0px; top: 0px; position: absolute">
            <div style="left: 59px; top: 0px; position: absolute; color: #3D3C3C; font-size: 40px; font-family: Unica One; font-weight: 400; word-wrap: break-word">bookster</div>
            <div style="width: 48px; height: 31px; left: 0px; top: 6px; position: absolute">
                <div style="width: 24px; height: 31px; left: 24px; top: 0px; position: absolute; border: 2px #3D3C3C solid"></div>
                <div style="width: 24px; height: 31px; left: 0px; top: 0px; position: absolute; border: 2px #3D3C3C solid"></div>
            </div>
        </div>
        <div style="width: 210px; height: 45px; left: 0px; top: 47px; position: absolute; text-align: center; color: #3D3C3C; font-size: 20px; font-family: Unica One; font-weight: 400; word-wrap: break-word">home</div>
    </div>
</div>