{% extends 'master_layout.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}

<div style="width: 100%; height: 100%; justify-content: center; align-items: center; margin-left:425px; margin-top: 70px; display: inline-flex; position: relative;">
    <img style="width: 410.667px; height: 400px; box-shadow: 5px 7px 5px -13px rgba(61, 60, 60, 0.36); border-radius: 10px" src="{{ url_for('static', filename='img/userprofile/COVER_BOOK.png') }}" alt="coverbook" />
    <div style="width: 100%; color: #3D3C3C; font-size: 36px; font-family: 'Unica One'; font-weight: 400; word-wrap: break-word; margin-left: 80px; margin-top: -350px; z-index: 1;">About me</div>
    <div style="width: 595.07px; height: 359px; position: absolute; left: 0; top: 30px; z-index: 0;">
        <div style="width: 581.65px; height: 343.16px; left: 500.42px; top: 40.84px; position: absolute; background: #676767; border-radius: 20px"></div>
        <div style="width: 581.65px; height: 343.16px; left: 485px; top: 25px; position: absolute; background: white; border-radius: 20px; border: 2px #3D3C3C dotted"></div>
    </div>
    <div style="width: 497.78px; height: 342.30px; position: absolute; left:520.25px; top: 70px; color: #676767; font-size: 14px; font-family: 'Syne'; font-weight: 400; word-wrap: break-word">
        <br> <br> <br> <br>📚 Aspiring author on a journey through the world of words 🌍 <br>
        📖 Lover of all things literary, from classic novels to fanfiction fantasies <br>
        🖋️ Writing my own stories, one chapter at a time <br>
        🌟 Dreaming of becoming the next bestseller ✨ <br>
        🎧 Music is my muse, and coffee is my companion 
        <br>☕🎶 🌈 Creating magic in every story I share 📝✨
    </div>
</div>

<div style="width: 100%; height: 100%; position: relative; display: flex; align-items: center; justify-content: center;">

    <!-- Text box element -->
    <div style="width: 100%; height: 100%; position: relative">
        <div style="width: 414.44px; height: 63.09px; position: absolute; left: 430px; top: 6.91px; background: #676767; border-radius: 20px"></div>
        <div style="width: 414.44px; height: 63.09px; position: absolute; left: 420px; top: 0px; background: white; border-radius: 20px; border: 2px #3D3C3C dotted"></div>
        <div style="width: 338.56px; left: 450px; top: 23px; position: absolute; color: #676767; font-size: 16px; font-family: 'Syne', sans-serif; font-weight: 500; word-wrap: break-word">Dianne Tabanas</div>
    </div>
    <!-- Instagram icon -->
    <a href="https://www.instagram.com/">
        <img style="width: 48px; height: 48px; position: absolute; left: 950px; top: 25px;" src="{{ url_for('static', filename='img/userprofile/ig.png') }}" alt="instagram">
    </a>
    <!-- Twitter icon -->
    <a href="https://twitter.com/">
        <img style="width: 48px; height: 48px; position: absolute; left: 1030px; top: 25px;" src="{{ url_for('static', filename='img/userprofile/twt.png') }}" alt="twitter">
    </a>
    <!-- Facebook icon -->
    <a href="https://www.facebook.com/">
        <img style="width: 48px; height: 48px; position: absolute; left: 1120px; top: 25px;" src="{{ url_for('static', filename='img/userprofile/fb.png') }}" alt="facebook">
    </a>
    <!-- My Library button -->
    <a href="/my-library">
        <img style="width: 283px; height: 46px; position: absolute; left: 1210px; top: 25px;" src="{{ url_for('static', filename='img/userprofile/mylibrary.png') }}" alt="My Library">
    </a>
</div>

<div style="width: 100%; height: 100%; position: relative; display: flex; flex-direction: column; align-items: center;">

    <!-- Text "my purchase history" -->
    <div style="width: 640px; left: 95px; top: 180px; position: absolute; color: #3D3C3C; font-size: 36px; font-family: Unica One; font-weight: 400; word-wrap: break-word">my purchase history</div>
    <img style="width: 26px; height: 21.12px; left: 65px; top: 195px; position: absolute;" src="{{ url_for('static', filename='img/userprofile/Path.png') }}" alt="Icon">

<!-- purchase history-->
<div style="width: 100%; height: 100%; display: flex; justify-content: left; align-items: left; margin-top: 270px; margin-left: 150px;">

    <a href="/#">
        <div style="width: 100%; height: 100%; position: relative">
            <div style="width: 200px; height: 428px; padding-bottom: 130px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                <div style="width: 200px; height: 298px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 200px; height: 298px; box-shadow: 10px 12px 10px -6px rgba(61, 60, 60, 0.36); border-radius: 10px" src="https://via.placeholder.com/200x298" />
                </div>
            </div>
            <div style="width: 200px; height: 46px; left: 0px; top: 323px; position: absolute">
                <div style="width: 200px; height: 46px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 200px; height: 46px; left: 0px; top: 0px; position: absolute; background: #FF964A; border-radius: 20px; border: 2px #3D3C3C solid"></div>
                </div>
                <div style="width: 136px; left: 32px; top: 8px; position: absolute; text-align: center; color: #3D3C3C; font-size: 24px; font-family: 'Syne', sans-serif; font-weight: 500; word-wrap: break-word">₱30.00</div>
            </div>
        </div>
    </a>
    

</div>

{% endblock %}
