<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			href="../static/styles.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>User Books</title>
	</head>

	<body>
		<div>{% include 'partials/navbar.html' %}</div>
		<ol class="breadcrumb-nav">
			<li>My Books</li>
		</ol>
		<div style="padding-left: 50px; padding-right: 50px">
			<div class="user-banner"></div>
			<div class="book-control">
				{% if user_id == current_user.id %}
				<a
					href="{{ url_for('home.add_book', user_id=user_id) }}"
					class="btn-library"
					style="margin-right: auto"
					>Add Book</a
				>
				{% endif %}
				<input
					type="text"
					class="search-input"
					placeholder="Search..."
				/>
				<select class="filter-dropdown">
					<option value="all">All</option>
					<option value="category1">Category 1</option>
					<option value="category2">Category 2</option>
				</select>
				<button
					class="btn-library"
					onclick="searchAndFilter()"
				>
					Search
				</button>
			</div>
			<ul class="book-ulibrary">
				{% for book in user_books %}
				<li class="book-display">
					{% if book.cloudinary_url %}
					<img
						class="book-ulibrary-image"
						src="{{ book.cloudinary_url }}"
					/>
					{% else %}
					<img
						class="book-ulibrary-image"
						src="https://via.placeholder.com/209x311"
					/>
					{% endif %}
					<div class="ulibrary-book-title">
						<a
							href="{{ url_for('home.book_detail', user_id=user_id, book_id=book['book_id']) }}"
							>{{ book['book_title'] }}</a
						>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<script>
			function searchAndFilter() {
				// You can implement your search and filter logic here
				// For example, you can use JavaScript to get the values of the search input and the selected option from the dropdown.
				var searchInputValue = document.querySelector(".search-input").value;
				var filterDropdownValue =
					document.querySelector(".filter-dropdown").value;

				// Implement your logic to use these values for searching and filtering
				console.log("Search:", searchInputValue);
				console.log("Filter:", filterDropdownValue);
			}
		</script>
	</body>
</html>
