{% extends 'master_layout.html' %} {% block title %}Bookster{% endblock %} {%
	block content %}
	
	<div>{% include 'partials/navbar.html' %}</div>
		<ol class="breadcrumb-nav">
			<li>My Books</li>
		</ol>
		<div style="padding-left: 50px; padding-right: 50px">
			<div class="user-banner">
				<div class="user-photo-container">
					<img
						src="{{ user_profile_data.image_url }}"
						alt="User Photo"
						class="user-photo"
					/>
				</div>
				<div class="user-info">
					{% if user_profile_data and user_profile_data.name %}
					<b class="user-info">{{user_profile_data.name }}</b>
					{% else %}
					<b class="user-info">{{ user[0][1] }}</b>
					{% endif %}
					<a
						href="{{ url_for('userprofile.get_user_profile_route', user_id=user_id)}}"
						class="user-info"
						style="font-size: 1rem"
						>View Profile</a
					>
				</div>
			</div>
			<div class="book-control">
				{% if user_id == current_user.id | int%}
				<a
					href="{{ url_for('home.add_book', user_id=user_id) }}"
					class="btn-library"
					style="margin-right: auto"
					>Add Book</a
				>
				{% endif %}
				<input
					type="text"
					class="search-input"
					id="search-input"
					placeholder="Search..."
				/>
				<select
					class="filter-dropdown"
					id="genre-filter"
				>
					<option value="all">All Genres</option>
					{% for genre in genres %}
					<option value="{{ genre.genre_id }}">{{ genre.genre_name }}</option>
					{% endfor %}
				</select>
				<button
					class="btn-library"
					onclick="searchAndFilter()"
				>
					Search
				</button>
			</div>
			<ul class="book-ulibrary">
				{% for book in items_on_page %}
				<li
					class="book-display"
					data-genre="{{ book['book_genre'] }}"
				>
					{% if book.cloudinary_url %}
					<img
						class="book-ulibrary-image"
						src="{{ book.cloudinary_url }}"
					/>
					{% else %}
					<img
						class="book-ulibrary-image"
						src="https://via.placeholder.com/209x311"
					/>
					{% endif %}
					<div class="ulibrary-book-title">
						<a
							href="{{ url_for('home.book_user_detail', user_id=user_id, book_id=book['book_id']) }}"
							>{{ book['book_title'] }}</a
						>
					</div>
				</li>
				{% endfor %}
			</ul>
			<ul class="pagination justify-content-center">
				{% if page > 1 %}
				<li class="page-item">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=page-1, user_id=user_id)}}"
						tabindex="-1"
						>Prev</a
					>
				</li>
				{% else %}
				<li class="page-item disabled">
					<a
						class="page-link"
						href="#"
						tabindex="-1"
						>Prev</a
					>
				</li>
				{% endif %} {% if total_pages <= 6 %} {% for i in range(1, total_pages +
				1) %}
				<li class="page-item {% if i == page %}active{% endif %}">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=i, user_id=user_id)}}"
						>{{ i }}</a
					>
				</li>
				{% endfor %} {% else %} {% if page <= 3 %} {% for i in range(1, 7) %}
				<li class="page-item {% if i == page %}active{% endif %}">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=i, user_id=user_id)}}"
						>{{ i }}</a
					>
				</li>
				{% endfor %}
				<li class="page-item disabled">
					<span class="page-link">...</span>
				</li>
				<li class="page-item">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=total_pages, user_id=user_id)}}"
						>{{ total_pages }}</a
					>
				</li>
				{% elif page >= total_pages - 3 %}
				<li class="page-item">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=1, user_id=user_id)}}"
						>1</a
					>
				</li>
				<li class="page-item disabled">
					<span class="page-link">...</span>
				</li>
				{% for i in range(total_pages - 6, total_pages + 1) %}
				<li class="page-item {% if i == page %}active{% endif %}">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=i,user_id=user_id)}}"
						>{{ i }}</a
					>
				</li>
				{% endfor %} {% else %}
				<li class="page-item">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=1, user_id=user_id)}}"
						>1</a
					>
				</li>
				<li class="page-item disabled">
					<span class="page-link">...</span>
				</li>
				{% for i in range(page - 2, page + 3) %}
				<li class="page-item {% if i == page %}active{% endif %}">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=i, user_id=user_id)}}"
						>{{ i }}</a
					>
				</li>
				{% endfor %}
				<li class="page-item disabled">
					<span class="page-link">...</span>
				</li>
				<li class="page-item">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=total_pages, user_id=user_id)}}"
						>{{ total_pages }}</a
					>
				</li>
				{% endif %} {% endif %} {% if page < total_pages %}
				<li class="page-item">
					<a
						class="page-link"
						href="{{url_for('home.user_books', page=page+1, user_id=user_id)}}"
						>Next</a
					>
				</li>
				{% else %}
				<li class="page-item disabled">
					<a
						class="page-link"
						href="#"
						>Next</a
					>
				</li>
				{% endif %}
			</ul>
		</div>
		<script>
			function searchAndFilter() {
				var searchInputValue = document
					.querySelector(".search-input")
					.value.toLowerCase();
				var genreDropdown = document.getElementById("genre-filter");
				var genreFilterValue =
					genreDropdown.options[genreDropdown.selectedIndex].value;

				var bookElements = document.querySelectorAll(".book-display");

				// Iterate over each book element and hide/show based on filters
				bookElements.forEach(function (bookElement) {
					var title = bookElement
						.querySelector(".ulibrary-book-title a")
						.innerText.toLowerCase();
					var genre = bookElement.dataset.genre; // Assuming you set a data attribute on each book element with the genre value

					var isTitleMatch =
						title.includes(searchInputValue) || searchInputValue === "";
					var isGenreMatch =
						genre === genreFilterValue || genreFilterValue === "all";

					// Show the book if both title and genre match, otherwise hide it
					bookElement.style.display =
						isTitleMatch && isGenreMatch ? "block" : "none";
				});
			}
		</script>
		{% endblock %}
